header {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 40px 20px;
}

header .header-logo {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .header-logo a {
	transition: 0.2s;
}

header .header-logo a:hover {
	transform: scale(1.25)
}

header .header-title {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px;
	padding-left: 10px;
}

header .header-title h1 {
	max-width: 450px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

header .header-title p {
	margin-top: 20px;
	color: var(--purple-text);
}

header img {
	width: 80px;
}